a{
    font-size: 7vh;
    font-weight: bold;
    color: #151567;
}
p{
    font-size: 4vh;
    color:#0f0fc0
}
label{
    font-size: 4vh;
    color: rgb(21, 17, 17);
    font-weight: bold;
}

div#GithubApi{
    display: flex;
    justify-content: space-evenly;
}

li{
    font-size: 3vh;
    color:#1d1d5a;
}

div#Username{
    display: flex;
    justify-content: center;
}
small{
    color: gray;
}
p#OrganizationsList{
    color: rgb(8, 71, 243);
    font-size: 3vh;
}