a{
    font-size: 7vh;
    font-weight: bold;
    color: #151567;
}
p{
    font-size: 4vh;
    color:#0f0fc0
}
label{
    font-size: 4vh;
    color: rgb(21, 17, 17);
    font-weight: bold;
}



li{
    font-size: 3vh;
    color:#1d1d5a;
}


small{
    color: gray;
}
#OrganizationsList{
    color: rgb(16, 8, 243);
    font-size: 3vh;
    width: 120vh;
}

